h1 {
	font-size: 50px;
}
h3 {
	font-size: 20px;
}
.background {
	margin-top: 1%;
	min-height: 700px;
	background-image: url('../images/vote-time.jpg');
	background-repeat: no-repeat;
	background-attachment: initial;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.day {
	margin-left: 40%;
}
.timer-box {
	padding-left: 3.2%;
}
.hour {
	margin-left: 13%;
}
.count-title {
	padding: 20px 0;
}
@media (max-width: 650px) {
	.day {
		margin-left: 28%;
	}
	.hour {
		margin-left: 28%;
	}
	h1 {
		font-size: 50px;
	}
	.background {
		background-image: url('../images/vote-time-min.jpg');
	}
}
